<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ static_url("chat.css") }}" type="text/css">
  </head>
  <body>
      <input type="hidden" id="host_id" name= "host_id" value="{{ host_id }}">
      <div id="inbox" style="overflow:auto;">
        {% for message in messages %}
        {% module Template("message.html", message=message) %}
        {% end %}
      </div>
    <script src="http://code.jquery.com/jquery-3.1.0.min.js" type="text/javascript"></script>
    <script src="{{ static_url("chat.js") }}" type="text/javascript"></script>
  </body>
</html>
